/* Member main */
.member-main .main-title {
  margin-bottom: 20px;
}

/* tabs navigation */
.tabs {
  padding: 0 10px;
}

.tab-list {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  margin-right: 20px;
  white-space: nowrap;
  color: #999;
  cursor: pointer;
}

.tab.active {
  color: #333;
  font-weight: 700;
}

/* List item */
.member-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  padding: 20px 15px;
  margin: 0 auto 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(64, 77, 158, 0.1);
}

.content__name {
  color: #3ba2e7;
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.right-content {
  width: 70px;
  height: 70px;
}

.content__photo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

/* badge */
.content__part {
  display: block;
  width: 65px;
  padding: 2px 6px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 15px;
}

.publish-badge {
  color: #404d9e;
  border: 1px solid #404d9e;
  background-color: #dee3ff;
}

.frontend-badge {
  color: #fe7f7f;
  border: 1px solid #fe7f7f;
  background-color: #ffdddd;
}

.nodejs-badge {
  color: #36cba1;
  border: 1px solid #36cba1;
  background-color: #e5fff8;
}

.spring-badge {
  color: #ff8926;
  border: 1px solid #ff8926;
  background-color: #ffedde;
}

