section p,
h3 {
    font-size: 1.8em;
}

/* content1 */
.content1 {
    background-color: #ffffff;
    padding-top: 40px;
    border-bottom: 10px solid #f5f7ff;
}

.content1 .main-title img {
   position: relative;
    top: 0;
    left: -18px;
}

.content1 li {
    width: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px rgba(64, 77, 158, 0.1);
}

.content1 li:last-child {
    margin-bottom: 65px;
}

.content1 li h3 {
    width: 100%;
    font-weight: 400;
    padding: 35px 0;
}

.content1 li h3 span {
    color: #3ba2e7;
    font-weight: 700;
}

.content1 li img {
    width: 75%;
    padding-bottom: 35px;
}

/* content2 */
.content2 {
    border-bottom: 10px solid #f5f7ff;
}

.content2 .box-wrap {}

.content2 .box-wrap>li {
    width: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(64, 77, 158, 0.1);
}

.content2 .inner {
    padding: 35px 0;
}

.content2 a .img-box {
    width: 100%;
    padding-bottom: 35px;
}

.content2 a .img-box img {
    width: 70%;  
}

.content2 .text-box {
    width: 100%;
}

.content2 .text-box p span {
    color: #3ba2e7;
    font-weight: 700;
}

.content2 .more {
    width: 40%;
}

/* content3 */
.content3 {
    border-bottom: 10px solid #f5f7ff;
}

.content3 .box-wrap {}

.content3 .box-wrap a {
    width: 45.5%;
    margin: 2.5%;
    display: block;
    float: left;
}

.content3 .box-wrap a:nth-child(1) {
    margin-bottom: 0;
    margin-right: 0;
}

.content3 .box-wrap a:nth-child(2) {
    margin-bottom: 0;
}

.content3 .box-wrap a:nth-child(3) {
    margin-right: 0;
}

.content3 .box-wrap a > li {
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px rgba(64, 77, 158, 0.1);
}

.content3 .box-wrap a:nth-child(3) li {
    margin: 0;
}

.content3 .box-wrap a:nth-child(4) li {
    margin: 0;
}

.content3 .box-wrap a > li:after {
    content: "";
    display: block;
    padding-bottom: 90%;
}

.content3 .more {
    width: 40%;
    margin-top: 20px;
}

/* content4 */
.content4 .together {
    color: #ff807f;
}

.content4 {
    margin-bottom: 65px;
}

.content4 .image-box {}

.content4 .button {
    width: 65%;
    background-color: #ff807f;
    border: 1px solid #ff807f;
}

.content4 .button:hover {
    background-color: #ffeaea;
    color: #ff807f;
    border: 1px solid #ff807f;
}

/* footer */
footer {
    border-top: 1px solid #404d9e;
    padding: 15px 0;
}

footer .copy {
    color: #404d9e;
    font-weight: 400;
}