@charset "utf-8";

/* Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* Reset */
@import "./reset.css";

/* Component */
@import "./component/header.css";
@import "./component/main-title.css";
@import "./component/section-content.css";
@import "./component/member-tab-list.css";

@import "./index.css";

/* float을 해제하는 가상선택자 */
.clearfix {
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* main-css */
body {
  min-width: 320px;
  max-width: 720px;
  /* 1em = 10px */
  font-size: 10px;
  background-color: #fff;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.main {
  min-width: 300px;
  max-width: 650px;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto;
}
